@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    color: white
}

html,
body {
    min-height: 100%;
}

body {
    background-color: #1d4355;
}

/* Default state */
.customOrange {
    background-color: #FE951C;
    /* Orange */
}

/* Pressed state */
.customOrange:active {
    background-color: #FFFF00;
    /* Yellow */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    /* Adjust opacity as needed */
    border-bottom: 1px solid #ccc;
}